body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  padding: 0 100px 0 100px;
}

h1 {
  font-family: "Dm Sans";
}
input {
  font-family: "lato";
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 17px 0;
}
header h1 {
  font-size: 35px;
  color: #d04f4f;
  font-weight: 700;
}
.section {
  margin-bottom: 25px;
  display: flex;
}
.section_research_bar {
  width: 100%;
  height: 69px;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
  font-size: 18px;
  padding-left: 22px;
}
.section_research_label {
  padding-top: 17.5px;
  position: relative;
  right: 52;
}
