body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  padding: 0 100px 0 100px;
}

h1 {
  font-family: "Dm Sans";
}
input {
  font-family: "lato";
}
.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 17px 0;
}
header h1 {
  font-size: 35px;
  color: #d04f4f;
  font-weight: 700;
  margin-top: 1px;
}
.section {
  margin-bottom: 25px;
  position: relative;
  display: flex;
}
.section_research_bar {
  width: 100%;
  border-radius: 5px;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  font-size: 18px;
  padding-left: 22px;
}
.section_research_label {
  padding-top: 17.5px;
  position: absolute;
  right: 16.5px;
}
.tag-bar {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.tag-bar_ingredient1 {
  background-color: #3282f7;
  font-family: "lato";
  color: #ffff;
  border-radius: 5px;
  padding: 10px 55px 10.5px 20px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.tag-bar1_ingredient-tag_cancel {
  background-color: #3282f7;
  border: none;
  position: absolute;
  right: 22px;
}
.tag-bar_ingredient2 {
  background-color: #68d9a4;
  color: #ffff;
  font-family: "lato";
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 55px 10.5px 20px;
  position: relative;
}
.tag-bar2_ingredient-tag_cancel {
  border: none;
  position: absolute;
  right: 22px;
  background-color: #68d9a4;
}

.tag-bar_ingredient3 {
  background-color: #ed6454;
  color: #ffff;
  border-radius: 5px;
  font-family: "lato";
  font-size: 14px;
  padding: 10px 55px 10.5px 20px;
  position: relative;
  font-weight: 700;
}
.tag-bar3_ingredient-tag_cancel {
  position: absolute;
  border: none;
  background-color: #ed6454;
  right: 22px;
}
.drop-search-ingredient {
  margin-top: 15px;
  display: flex;
  column-gap: 20px;
}
.box-ingredient {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  background-color: #3282f7;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  color: #ffff;
  font-family: "lato";
}
.box-ingredient-text {
  width: 100%;
}
.box-ingredient_searchtext {
  position: relative;
}
.box-ingredient-searchtext_label {
  margin: 0 25px 0 15px;
}
.box-ingredient_searchtext_arrowdown {
  position: absolute;
  top: 5px;
  right: 17px;
}
.box-ingredient-text_list {
  margin-top: 24px;
  display: none;
  flex-direction: column;
  flex-flow: wrap;
  row-gap: 10px;
  column-gap: 75px;
  padding: 0 19px 15px 20px;
}
#ingredient {
  background-color: #3282f7;
  color: #ffff;
  font-family: "lato";
  font-size: 18px;
  font-weight: 700;
  width: 65%;
  margin: 0 25px 0 15px;
  border: none;
  outline: none;
  display: none;
}
#ingredient::placeholder {
  color: #ffff;
  opacity: 0.5;
}
.box-appareil {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  background-color: #68d9a4;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  color: #ffff;
  font-family: "lato";
}
.box-appareil-text {
  width: 100%;
}
.box-appareil_searchtext {
  position: relative;
}
.box-appareil_searchtext_arrowdown {
  position: absolute;
  top: 5px;
  right: 20px;
}

.box-appareil-searchtext_label {
  margin: 0 25px 0 15px;
}
.box-appareil_list {
  margin-top: 23px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 85px;
  padding: 0 19px 16px 19px;
}
.box-appareil_searchtext li {
  width: 150px;
}
#appareil {
  background-color: #68d9a4;
  color: #ffff;
  font-family: "lato";
  font-size: 18px;
  font-weight: 700;
  width: 65%;
  margin: 0 25px 0 15px;
  border: none;
  outline: none;
}
#appareil::placeholder {
  color: #ffff;
  opacity: 0.5;
}
.box-ustensils {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  background-color: #ed6454;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  color: #ffff;
  font-family: "lato";
}
.box-ustensils-text {
  width: 100%;
}
.box-ustensils_searchtext {
  position: relative;
}
.box-ustensils-searchtext_label {
  margin: 0 25px 0 15px;
}
.box-ustensils_searchtext_arrowdown {
  position: absolute;
  top: 5px;
  right: 18px;
}
.box-ustensils_list {
  margin-top: 23px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 85px;
  padding: 0 19px 16px 19px;
}

#ustensils {
  background-color: #ed6454;
  color: #ffff;
  font-family: "lato";
  font-size: 18px;
  font-weight: 700;
  width: 65%;
  margin: 0 25px 0 15px;
  border: none;
  outline: none;
}
#ustensils::placeholder {
  color: #ffff;
  opacity: 0.5;
}
